@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body {
    margin: 0;
    background-color: #030303;
    background-image: url("https://images.saymedia-content.com/.image/t_share/MTkzODAzNTgyODUxMDY1MzI4/cool-css-backgrounds.jpg");
    background-size:contain
  }

  .container {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .card {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    width: calc(40% - 100px);
    margin-bottom: 20px;
    font-family: 'Honk', system-ui;
    text-align: center;
    justify-content: space-between;
  }

  h2{
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #fdf502;
  }

  p{
    text-align: center;
    color: white;
  }
  .navbar-name{
    text-align: left;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #fdf502; 
  }
  .navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hambgrMenu {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    color: #fdf502;
}

.pgMenu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    text-align: right;
    font-family: "Pacifico", cursive;
    color: #fdf502;
}

.pgMenu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    color: #fdf502;
}

.pgMenu a:hover {
    background-color: #555;
}
